.container-form {
  display: flex;
  justify-content: space-between;
  margin-right: 9rem;
  margin-left: 5rem;
  margin-top: 2.5rem;

  figure {
    margin-top: 5rem;
    width: 600px;
    height: 600px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  section {
    background: var(--gray-900);
    margin-right: 4rem;
    margin-top: .5rem;
    
    form {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.1rem;
        margin-left: 3.5rem;
        color: var(--text-title);
      }

      input {
        outline: none;
        padding: 0.25rem;
        border-radius: 1rem;
        border: 0;
        margin: .85rem;
        width: 350px;
        padding: 18px;
        padding-left: 28px;
        margin-bottom: 1.2rem;
        margin-left: 3rem;
        color: #2d2d2e;

        &::placeholder {
          color: #a8a8b3;
        }
      }
    }

    h1 {
      color: var(--text-title);
      font-size: 3rem;
      margin-left: 1rem;
      margin-bottom: 3rem;
      text-align: center;
    }
  }
}
